@import "tailwindcss";

@theme {
  --animate-spin: spin .8s linear infinite;

  @keyframes spin {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
}
